<h1><%= "Songs by #{@artist.full_name}"%></h1>

<div class="secondary menut">
  <%= link_to "Add Song", new_artist_song_path(@artist), class: "ui button" %>
</div>

<hr />

<h3>Title (Genre)</h3>

<div class="ui lsit">
  <% @songs.each do |song| %>
    <div class="item">
      <%= link_to "#{song.title} (#{song.genre})", artist_song_path(@artist, song) %>
    </div>
  <% end %>
</div>

<br />
<hr />

<%= link_to "Back", artist_path(@artist), class: "ui button" %>
